<div class="post-page">

  <div class="banner">
    <div class="container">
      <h1 id="article-detail__title">
        {{ .Post.Title | MD2HTML }}
      </h1>
    </div>
  </div>

  <div class="article-detail container page">
    <div class="row post-content">
      <div class="col-md-12">
        {{ .Post.Body | MD2HTML }}
      </div>
      <div class="col-md-12 m-t-2">
        <ul class="tag-list">
          <li class="tag-default tag-pill tag-outline">tag</li>
        </ul>
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-8 col-md-offset-2" hx-get="/htmx/posts/{{ .Post.Slug }}/comments" hx-trigger="load"></div>
    </div>

  </div>
</div>