<div class="post-page">

  <div class="banner">
    <div class="container">
      <h1 id="article-detail__title">
        {{ .Page.Title }}
      </h1>
    </div>
  </div>

  <div class="article-detail container page">
    <div class="row post-content">
      <div class="col-md-12">
        {{ .Page.Body }}
      </div>
      <div class="col-md-12 m-t-2">
        <ul class="tag-list">
          <li class="tag-default tag-pill tag-outline">tag</li>
        </ul>
      </div>
    </div>
  </div>
</div>