<div id="article-comments-wrapper">
  {{ range $comment := .Post.Comments }}
    {{ template "posts/partials/comments-card" Dict "Comment" $comment }}
  {{ end }}
</div>

{{ if .IsAuthenticated }}
  <div id="form-message"></div>

  {{ template "posts/partials/comments-form" . }}
{{ else }}
  <div>
    <a href="/htmx/sign-in" hx-get="/htmx/sign-in" hx-target="#app-body"
      hx-push-url="/sign-in"
    >
      Sign in
    </a>
    or
    <a href="/htmx/sign-up" hx-get="/htmx/sign-up" hx-target="#app-body"
      hx-push-url="/sign-up"
    >
      sign up
    </a>
    to add comments on this post.
  </div>
{{ end }}