<div class="body container">
  <div class="typecho-page-title">
    <h2>Dash Board</h2>
  </div>
  {{ $UserTotal := .UserTotal }}
  {{ $PostTotal := .PostTotal }}
  {{ $PageTotal := .PageTotal }}
  {{with .Info}}
  <div class="row typecho-page-main">
    <div class="col-mb-12 col-tb-3">
      <h2>{{.AdminName}}</h2>
      <p>{{.AdminDescription}}</p>
      <p>Last log in at: {{ DateFormat .LoginAt "2006-01-02 15:04"}}</p>
    </div>
    <div class="col-mb-12 col-tb-6 col-tb-offset-1 typecho-content-panel" role="form">
      <section>
        <h2>Wecome to Werite DashBoard!</h2>
        <div style="padding:5px 0; font-size: medium;">Users: {{ $UserTotal }}</div>
        <div style="padding:5px 0; font-size: medium;">Posts: {{ $PostTotal }}</div>
        <div style="padding:5px 0; font-size: medium;">Pages: {{ $PageTotal }}</div>
      </section>
    </div>
  </div>
  {{end}}
</div>