<div class="body container">
  <div class="typecho-page-title">
    {{ if .HasPage }}
    <h2>Edit {{ .Page.Title }}</h2>
    {{ else }}
    <h2>Add New Page</h2>
    {{ end }}
  </div>
  <div class="row typecho-page-main typecho-post-area" role="form">
    <form 
    {{ if .HasPage }}
     action="/admin/pages/editor/{{ .Page.ID }}"
    {{ else }}
     action="/admin/pages/editor"
    {{ end }}
    method="post" name="write_post">
      <div class="col-mb-12 col-tb-9" role="main">
        <p class="title">
          <label for="title" class="sr-only">Title</label>
          <input type="text" id="title" name="title" autocomplete="off" value="{{ .Page.Title }}" placeholder="Page Title" class="w-100 text title" />
        </p>
        <p class="mono url-slug">
          <label for="slug" class="sr-only">Slug</label>
          https://{{.Domain}}/page/<input type="text" id="slug" name="slug" autocomplete="off" value="{{ .Page.Slug }}" class="mono" />
        </p>
        <p>
          <label for="text" class="sr-only">Content</label>
          <textarea style="height: 350px" autocomplete="off" id="body" name="body" placeholder="Write your page (in markdown)"
            class="w-100 mono">{{ .Page.Body }}</textarea>
        </p>
        <p class="submit clearfix">
          <span class="right">
            <input type="hidden" name="id" value="{{ .Page.ID }}" />
            <button type="submit" name="do" value="save" id="btn-save" class="btn">Save Draft</button>
            <button type="submit" name="do" value="publish" class="btn primary" id="btn-submit">Publish</button>
          </span>
        </p>
      </div>
      <div id="edit-secondary" class="col-mb-12 col-tb-3" role="complementary">
        <ul class="typecho-option-tabs clearfix">
          <li class="active w-50"><a href="#tab-advance">Option</a></li>
          <li class="w-50"><a href="#tab-files" id="tab-files-btn">Upload</a></li>
        </ul>
        <div id="tab-advance" class="tab-content">
          <section class="typecho-post-option" role="application">
            <label for="date" class="typecho-label">Publish</label>
            <p>
              <input class="typecho-date w-100" type="text" name="published_at" id="published_at"
              {{ if .HasPage }}
              value="{{ DateFormat .Page.PublishedAt "2006-01-02 15:04" }}"
              {{ end }}
              />
            </p>
          </section>
        </div>
        <!-- end #tab-advance -->
        <div id="tab-files" class="tab-content hidden">
          <div id="upload-panel" class="p">
            <div class="upload-area" draggable="true">Drag file here <br>or <a href="###" class="upload-file">Select file to upload.</a>
            </div>
            <ul id="file-list">
            </ul>
          </div>
        </div>
        <!-- end #tab-files -->
      </div>
    </form>
  </div>
</div>
<script>
  (function () {
    $(document).ready(function () {
      var error = $('.typecho-option .error:first');

      if (error.length > 0) {
        $('html,body').scrollTop(error.parents('.typecho-option').offset().top);
      }

      $('form').submit(function () {
        if (this.submitted) {
          return false;
        } else {
          this.submitted = true;
        }
      });

      $('label input[type=text]').click(function (e) {
        var check = $('#' + $(this).parents('label').attr('for'));
        check.prop('checked', true);
        return false;
      });
    });
  })();
</script>
<script src="/static/admin/timepicker.js"></script>
<script src="/static/admin/tokeninput.js"></script>
<script>
  $(document).ready(function () {
    // 日期时间控件
    $('#published_at').mask('9999-99-99 99:99').datetimepicker({
      currentText: 'Now',
      prevText: 'Last',
      nextText: 'Next',
      monthNames: ['Jan', 'Feb', 'Mat', 'Apr',
        'May', 'Jun', 'Jul', 'Aug',
        'Set', 'Oct', 'Nov', 'Dec'
      ],
      dayNames: ['Sunday', 'Monday', 'Tuesday',
        'Wednesday', 'Thursday', 'Friday', 'Saturday'
      ],
      dayNamesShort: ['Sun', 'Mon', 'Tue',
        'Wed', 'Thu', 'Fri', 'Sat'
      ],
      dayNamesMin: ['Sun', 'Mon', 'Tue',
        'Wed', 'Thu', 'Fri', 'Sat'
      ],
      closeText: 'OK',
      timeOnlyTitle: 'Select Date',
      timeText: 'Time',
      hourText: 'Hour',
      amNames: ['AM', 'A'],
      pmNames: ['PM', 'P'],
      minuteText: 'Minute',
      secondText: 'Second',

      dateFormat: 'yy-mm-dd',
      hour: (new Date()).getHours(),
      minute: (new Date()).getMinutes()
    });

    // 聚焦
    $('#title').select();

  // 缩略名自适应宽度
  var slug = $('#slug');

  if (slug.length > 0) {
    var wrap = $('<div />').css({
      'position': 'relative',
      'display': 'inline-block'
    }),
      justifySlug = $('<pre />').css({
        'display': 'block',
        'visibility': 'hidden',
        'height': slug.height(),
        'padding': '0 2px',
        'margin': 0
      }).insertAfter(slug.wrap(wrap).css({
        'left': 0,
        'top': 0,
        'minWidth': '5px',
        'position': 'absolute',
        'width': '100%'
      })),
      originalWidth = slug.width();

    function justifySlugWidth() {
      var val = slug.val();
      justifySlug.text(val.length > 0 ? val : '     ');
    }

    slug.bind('input propertychange', justifySlugWidth);
    justifySlugWidth();
  }

  // 原始的插入图片和文件
  Typecho.insertFileToEditor = function (file, url, isImage) {
    var textarea = $('#body'),
      sel = textarea.getSelection(),
      html = isImage ? '<img src="' + url + '" alt="' + file + '" />' : '<a href="' + url + '">' + file + '</a>',
      offset = (sel ? sel.start : 0) + html.length;

    textarea.replaceSelection(html);
    textarea.setSelection(offset, offset);
  };

  var submitted = false,
    form = $('form[name=write_post],form[name=write_page]').submit(function () {
      submitted = true;
    }),
    savedData = null;

  // 自动保存
  var locked = false,
    formAction = form.attr('action'),
    idInput = $('input[name=cid]'),
    cid = idInput.val(),
    autoSave = $('<span id="auto-save-message" class="left"></span>').prependTo('.submit'),
    autoSaveOnce = !!cid,
    lastSaveTime = null;

  function autoSaveListener() {
    setInterval(function () {
      var data = form.serialize();

      if (savedData != data && !locked) {
        locked = true;

        autoSave.text('saving');
        $.post(formAction, data + '&do=auto', function (o) {
          savedData = data;
          lastSaveTime = o.time;
          idInput.val(o.cid);
          autoSave.text('saved' + ' (' + o.time + ')').effect('highlight', 1000);
          locked = false;
        }, 'json');
      }
    }, 20000);
  }

  if (autoSaveOnce) {
    savedData = form.serialize();
    autoSaveListener();
  }

  $('#body').bind('input propertychange', function () {
    if (!locked) {
      autoSave.text("Doesn't save" + (lastSaveTime ? ' (Last saved time: ' + lastSaveTime + ')' : ''));
    }

    if (!autoSaveOnce) {
      autoSaveOnce = true;
      autoSaveListener();
    }
  });

  // 自动检测离开页
  var lastData = form.serialize();

  $(window).bind('beforeunload', function () {
    if (!!savedData) {
      lastData = savedData;
    }

    if (form.serialize() != lastData && !submitted) {
      return 'Content changed and not saved. Counld you confirm to leave this page?';
    }
  });

  // 控制选项和附件的切换
  var fileUploadInit = false;
  $('#edit-secondary .typecho-option-tabs li').click(function () {
    $('#edit-secondary .typecho-option-tabs li').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').addClass('hidden');

    var selected_tab = $(this).find('a').attr('href'),
      selected_el = $(selected_tab).removeClass('hidden');

    if (!fileUploadInit) {
      selected_el.trigger('init');
      fileUploadInit = true;
    }

    return false;
  });

  // 自动隐藏密码框
  $('#visibility').change(function () {
    var val = $(this).val(),
      password = $('#post-password');

    if ('password' == val) {
      password.removeClass('hidden');
    } else {
      password.addClass('hidden');
    }
  });

});
</script>
<script src="/static/admin/hyperdown.js"></script>
<script src="/static/admin/pagedown.js"></script>
<script src="/static/admin/pagedown-extra.js"></script>
<script src="/static/admin/diff.js"></script>
<script>
  $(document).ready(function () {
    var textarea = $('#body'),
      toolbar = $('<div class="editor" id="wmd-button-bar" />').insertBefore(textarea.parent()),
      preview = $('<div id="wmd-preview" class="wmd-hidetab" />').insertAfter('.editor');

    var options = {},
      isMarkdown = 1;

    options.strings = {
      bold: 'Bold <strong> Ctrl+B',
      boldexample: 'Bold example',

      italic: 'Italic <em> Ctrl+I',
      italicexample: 'Italic example',

      link: 'Link <a> Ctrl+L',
      linkdescription: 'Input linke description',

      quote: 'Quote <blockquote> Ctrl+Q',
      quoteexample: 'Quote example',

      code: 'Code <pre><code> Ctrl+K',
      codeexample: 'Input code',

      image: 'Image <img> Ctrl+G',
      imagedescription: 'Image Description',

      olist: 'Ordered List <ol> Ctrl+O',
      ulist: 'Unordered List <ul> Ctrl+U',
      litem: 'List item',

      heading: 'Heading <h1>/<h2> Ctrl+H',
      headingexample: 'Heading Example',

      hr: 'Separator <hr> Ctrl+R',
      more: 'More <!--more--> Ctrl+M',

      undo: 'Undo - Ctrl+Z',
      redo: 'Redo - Ctrl+Y',
      redomac: 'Redo - Ctrl+Shift+Z',

      fullscreen: 'Fullscreen - Ctrl+J',
      exitFullscreen: 'Exit fullscreen - Ctrl+E',
      fullscreenUnsupport: 'This browser does not support fullscreen.',

      imagedialog: '<p><b>Insert Image</b></p><p>Input image url</p><p> or local image</p>',
      linkdialog: '<p><b>Insert Link</b></p><p>Input link here</p>',

      ok: 'OK',
      cancel: 'Cancel',

      help: 'Markdown Help'
    };

    var converter = new HyperDown(),
      editor = new Markdown.Editor(converter, '', options),
      diffMatch = new diff_match_patch(), last = '', preview = $('#wmd-preview'),
      mark = '@mark' + Math.ceil(Math.random() * 100000000) + '@',
      span = '<span class="diff" />',
      cache = {};


    // 自动跟随
    converter.hook('makeHtml', function (html) {
      // convert all comment
      html = html.replace(/&lt;!--(.+?)--&gt;/g, '<!--$1-->');

      if (html.indexOf('<!--more-->') > 0) {
        var parts = html.split(/\s*<\!\-\-more\-\->\s*/),
          summary = parts.shift(),
          details = parts.join('');

        html = '<div class="summary">' + summary + '</div>'
          + '<div class="details">' + details + '</div>';
      }


      var diffs = diffMatch.diff_main(last, html);
      last = html;

      if (diffs.length > 0) {
        var stack = [], markStr = mark;

        for (var i = 0; i < diffs.length; i++) {
          var diff = diffs[i], op = diff[0], str = diff[1]
          sp = str.lastIndexOf('<'), ep = str.lastIndexOf('>');

          if (op != 0) {
            if (sp >= 0 && sp > ep) {
              if (op > 0) {
                stack.push(str.substring(0, sp) + markStr + str.substring(sp));
              } else {
                var lastStr = stack[stack.length - 1], lastSp = lastStr.lastIndexOf('<');
                stack[stack.length - 1] = lastStr.substring(0, lastSp) + markStr + lastStr.substring(lastSp);
              }
            } else {
              if (op > 0) {
                stack.push(str + markStr);
              } else {
                stack.push(markStr);
              }
            }

            markStr = '';
          } else {
            stack.push(str);
          }
        }

        html = stack.join('');

        if (!markStr) {
          var pos = html.indexOf(mark), prev = html.substring(0, pos),
            next = html.substr(pos + mark.length),
            sp = prev.lastIndexOf('<'), ep = prev.lastIndexOf('>');

          if (sp >= 0 && sp > ep) {
            html = prev.substring(0, sp) + span + prev.substring(sp) + next;
          } else {
            html = prev + span + next;
          }
        }
      }
      // 替换img
      html = html.replace(/<(img)\s+([^>]*)\s*src="([^"]+)"([^>]*)>/ig, function (all, tag, prefix, src, suffix) {
        if (!cache[src]) {
          cache[src] = false;
        } else {
          return '<span class="cache" data-width="' + cache[src][0] + '" data-height="' + cache[src][1] + '" '
            + 'style="background:url(' + src + ') no-repeat left top; width:'
            + cache[src][0] + 'px; height:' + cache[src][1] + 'px; display: inline-block; max-width: 100%;'
            + '-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;background-size: contain;" />';
        }

        return all;
      });

      // 替换block
      html = html.replace(/<(iframe|embed)\s+([^>]*)>/ig, function (all, tag, src) {
        if (src[src.length - 1] == '/') {
          src = src.substring(0, src.length - 1);
        }

        return '<div style="background: #ddd; height: 40px; overflow: hidden; line-height: 40px; text-align: center; font-size: 12px; color: #777">'
          + tag + ' : ' + $.trim(src) + '</div>';
      });

      return html;
    });

    function cacheResize() {
      var t = $(this), w = parseInt(t.data('width')), h = parseInt(t.data('height')),
        ow = t.width();

      t.height(h * ow / w);
    }

    var to;
    editor.hooks.chain('onPreviewRefresh', function () {
      var diff = $('.diff', preview), scrolled = false;

      if (to) {
        clearTimeout(to);
      }

      $('img', preview).load(function () {
        var t = $(this), src = t.attr('src');

        if (scrolled) {
          preview.scrollTo(diff, {
            offset: - 50
          });
        }

        if (!!src && !cache[src]) {
          cache[src] = [this.width, this.height];
        }
      });

      $('.cache', preview).resize(cacheResize).each(cacheResize);

      var changed = $('.diff', preview).parent();
      if (!changed.is(preview)) {
        changed.css('background-color', 'rgba(255,230,0,0.5)');
        to = setTimeout(function () {
          changed.css('background-color', 'transparent');
        }, 4500);
      }

      if (diff.length > 0) {
        var p = diff.position(), lh = diff.parent().css('line-height');
        lh = !!lh ? parseInt(lh) : 0;

        if (p.top < 0 || p.top > preview.height() - lh) {
          preview.scrollTo(diff, {
            offset: - 50
          });
          scrolled = true;
        }
      }
    });


    var input = $('#body'), th = textarea.height(), ph = preview.height(),
      uploadBtn = $('<button type="button" id="btn-fullscreen-upload" class="btn btn-link">'
        + '<i class="i-upload">Attachment</i></button>')
        .prependTo('.submit .right')
        .click(function () {
          $('a', $('.typecho-option-tabs li').not('.active')).trigger('click');
          return false;
        });

    $('.typecho-option-tabs li').click(function () {
      uploadBtn.find('i').toggleClass('i-upload-active',
        $('#tab-files-btn', this).length > 0);
    });

    editor.hooks.chain('enterFakeFullScreen', function () {
      th = textarea.height();
      ph = preview.height();
      $(document.body).addClass('fullscreen');
      var h = $(window).height() - toolbar.outerHeight();

      textarea.css('height', h);
      preview.css('height', h);
    });

    editor.hooks.chain('enterFullScreen', function () {
      $(document.body).addClass('fullscreen');

      var h = window.screen.height - toolbar.outerHeight();
      textarea.css('height', h);
      preview.css('height', h);
    });

    editor.hooks.chain('exitFullScreen', function () {
      $(document.body).removeClass('fullscreen');
      textarea.height(th);
      preview.height(ph);
    });

    function initMarkdown() {
      editor.run();

      var imageButton = $('#wmd-image-button'),
        linkButton = $('#wmd-link-button');

      Typecho.insertFileToEditor = function (file, url, isImage) {
        var button = isImage ? imageButton : linkButton;

        options.strings[isImage ? 'imagename' : 'linkname'] = file;
        button.trigger('click');

        var checkDialog = setInterval(function () {
          if ($('.wmd-prompt-dialog').length > 0) {
            $('.wmd-prompt-dialog input').val(url).select();
            clearInterval(checkDialog);
            checkDialog = null;
          }
        }, 10);
      };

      Typecho.uploadComplete = function (file) {
        Typecho.insertFileToEditor(file.title, file.url, file.isImage);
      };

      // 编辑切换
      var edittab = $('.editor').prepend('<div class="wmd-edittab"><a href="#wmd-editarea" class="active">Edit</a><a href="#wmd-preview">Preview</a></div>'),
        editarea = $(textarea.parent()).attr("id", "wmd-editarea");

      $(".wmd-edittab a").click(function () {
        $(".wmd-edittab a").removeClass('active');
        $(this).addClass("active");
        $("#wmd-editarea, #wmd-preview").addClass("wmd-hidetab");

        var selected_tab = $(this).attr("href"),
          selected_el = $(selected_tab).removeClass("wmd-hidetab");

        // 预览时隐藏编辑器按钮
        if (selected_tab == "#wmd-preview") {
          $("#wmd-button-row").addClass("wmd-visualhide");
        } else {
          $("#wmd-button-row").removeClass("wmd-visualhide");
        }

        // 预览和编辑窗口高度一致
        $("#wmd-preview").outerHeight($("#wmd-editarea").innerHeight());

        return false;
      });
    }
    initMarkdown();
  });
</script>
<script src="/static/admin/moxie.js"></script>
<script src="/static/admin/plupload.js"></script>
<script>
  $(document).ready(function () {
    $.post("/admin/media/latest?path=/page", {}, function (data) {
      if (data.medias && data.medias.length > 0) {
        var list = $('#file-list');
        for (var i = 0; i < data.medias.length; i++) {
          var media = data.medias[i];
          var url = "/media/page/" + media.name;
          var li = $('<li><input type="hidden" name="attachment[]" value="' + media.name + '" />'
            + '<a class="insert" target="_blank" href="###" title="click to insert">' + media.name + '</a><div class="info">' + media.size
            + ' <a class="file" target="_blank" href="'
            + url + '" title="View"><i class="i-edit"></i></a>'
            + ' <a class="delete" href="###" title="Delete"><i class="i-delete"></i></a></div></li>').appendTo(list);
          li.data('title', media.name).data('url', url).data('image', true)
          attachInsertEvent(li);
          attachDeleteEvent(li);
        }
        updateAttacmentNumber();
      }
    }, 'json');

    function updateAttacmentNumber() {
      var btn = $('#tab-files-btn'),
        balloon = $('.balloon', btn),
        count = $('#file-list li .insert').length;

      if (count > 0) {
        if (!balloon.length) {
          btn.html($.trim(btn.html()) + ' ');
          balloon = $('<span class="balloon"></span>').appendTo(btn);
        }

        balloon.html(count);
      } else if (0 == count && balloon.length > 0) {
        balloon.remove();
      }
    }

    $('.upload-area').bind({
      dragenter: function () {
        $(this).parent().addClass('drag');
      },

      dragover: function (e) {
        $(this).parent().addClass('drag');
      },

      drop: function () {
        $(this).parent().removeClass('drag');
      },

      dragend: function () {
        $(this).parent().removeClass('drag');
      },

      dragleave: function () {
        $(this).parent().removeClass('drag');
      }
    });

    updateAttacmentNumber();

    function fileUploadStart(file) {
      $('<li id="' + file.id + '" class="loading">'
        + file.name + '</li>').prependTo('#file-list');
    }

    function fileUploadError(error) {
      var file = error.file, code = error.code, word;

      switch (code) {
        case plupload.FILE_SIZE_ERROR:
          word = 'file size error';
          break;
        case plupload.FILE_EXTENSION_ERROR:
          word = 'extension error';
          break;
        case plupload.FILE_DUPLICATE_ERROR:
          word = 'duplicate error';
          break;
        case plupload.HTTP_ERROR:
        default:
          word = 'upload error';
          break;
      }

      var fileError = '%s upload failed'.replace('%s', file.name),
        li, exist = $('#' + file.id);

      if (exist.length > 0) {
        li = exist.removeClass('loading').html(fileError);
      } else {
        li = $('<li>' + fileError + '<br />' + word + '</li>').pependTo('#file-list');
      }

      li.effect('highlight', { color: '#FBC2C4' }, 2000, function () {
        $(this).remove();
      });

      // fix issue #341
      this.removeFile(file);
    }

    var completeFile = null;
    function fileUploadComplete(id, data) {
      var li = $('#' + id).removeClass('loading').data('title', data.title)
        .data('url', data.url)
        .data('image', data.isImage)
        .html('<input type="hidden" name="attachment[]" value="' + data.title + '" />'
          + '<a class="insert" target="_blank" href="###" title="click to insert">' + data.title + '</a><div class="info">' + data.bytes
          + ' <a class="file" target="_blank" href="'
          + data.url + '" title="View"><i class="i-edit"></i></a>'
          + ' <a class="delete" href="###" title="Delete"><i class="i-delete"></i></a></div>')
        .effect('highlight', 1000);

      attachInsertEvent(li);
      attachDeleteEvent(li);
      updateAttacmentNumber();

      if (!completeFile) {
        completeFile = data;
      }
    }

    $('#tab-files').bind('init', function () {
      var uploader = new plupload.Uploader({
        browse_button: $('.upload-file').get(0),
        url: '/admin/media/upload?path=/page&created=true',
        runtimes: 'html5,flash,html4',
        flash_swf_url: '/static/admin/Moxie.swf',
        drop_element: $('.upload-area').get(0),
        filters: {
          max_file_size: '2mb',
          prevent_duplicates: true,
          mime_types: [
            {title : "Image files", extensions : "jpg,gif,png"}
          ]
        },

        init: {
          FilesAdded: function (up, files) {
            for (var i = 0; i < files.length; i++) {
              fileUploadStart(files[i]);
            }

            completeFile = null;
            uploader.start();
          },

          UploadComplete: function () {
            if (completeFile) {
              Typecho.uploadComplete(completeFile);
            }
          },

          FileUploaded: function (up, file, result) {
            if (200 == result.status) {
              var data = $.parseJSON(result.response);
              if (data) {
                fileUploadComplete(file.id, data);
                uploader.removeFile(file);
                return;
              }
            }

            fileUploadError.call(uploader, {
              code: plupload.HTTP_ERROR,
              file: file
            });
          },

          Error: function (up, error) {
            fileUploadError.call(uploader, error);
          }
        }
      });

      uploader.init();
    });

    function attachInsertEvent(el) {
      $('.insert', el).click(function () {
        var t = $(this), p = t.parents('li');
        Typecho.insertFileToEditor(t.text(), p.data('url'), p.data('image'));
        return false;
      });
    }

    function attachDeleteEvent(el) {
      var file = $('a.insert', el).text();
      $('.delete', el).click(function () {
        if (confirm('Confirm to delete the file %s?'.replace('%s', file))) {
          var title = $(this).parents('li').data('title');
          $.post('/admin/media/delete?name=' + file + '&path=/page',
            { 'title': title },
            function () {
              $(el).fadeOut(function () {
                $(this).remove();
                updateAttacmentNumber();
              });
            });
        }

        return false;
      });
    }

    $('#file-list li').each(function () {
      attachInsertEvent(this);
      attachDeleteEvent(this);
    });
  });
</script>