<div class="body container">
  <div class="typecho-page-title">
    <h2>Infomation</h2>
  </div>
  {{ template "components/form-message" . }}
  <div class="row typecho-page-main">
    <div class="col-mb-12 col-tb-3">
    {{ with .Info }}
      <h2>{{.BlogName}}</h2>
      <p>{{.BlogSubTitle}}</p>
      <p>Last login at: {{ DateFormat .LoginAt "2006-01-02 15:04"}}</p>
    {{ end }}
    </div>
    {{ with .Blog }}
    <div class="col-mb-12 col-tb-6 col-tb-offset-1 typecho-content-panel" role="form">
      <section>
        <h3>Blog Infomation</h3>
        <form action="/admin/settings/blog" method="post" enctype="application/x-www-form-urlencoded">
          <ul class="typecho-option">
            <li>
              <label class="typecho-label" for="blog-0-1">Blog name</label>
              <input id="blog-0-1" name="name" type="text" class="text" value="{{ if .Name }}{{.Name}}{{end}}" />
              <p class="blog">The name of your blog.</p>
            </li>
          </ul>
          <ul class="typecho-option">
            <li>
              <label class="typecho-label" for="blog-0-2">Blog description</label>
              <input id="blog-0-2" name="description" type="text" class="text" value="{{ if .Description }}{{.Description}}{{end}}" />
              <p class="description">The description of your blog.</p>
            </li>
          </ul>
          <ul class="typecho-option typecho-option-submit" id="typecho-option-item-submit-4">
            <li>
              <button type="submit" class="btn primary">Update</button>
            </li>
          </ul>
        </form>
      </section>
    </div>
    {{ end }}
  </div>
</div>