<div class="body container">
  <div class="typecho-page-title">
    <h2>Categories <a href="/admin/categories/editor">Add New</a></h2>
  </div>
  {{ template "components/form-message" }}
  <div class="row typecho-page-main manage-metas">
    <div class="col-mb-12" role="main">
      <form method="post" name="manage_categories" class="operate-form">
        <div class="typecho-list-operate clearfix">
          <div class="operate">
            <label><i class="sr-only">Select All</i>
              <input type="checkbox" class="typecho-table-select-all" />
            </label>
            <div class="btn-group btn-drop">
              <button class="btn dropdown-toggle btn-s" type="button"><i class="sr-only">Operation</i>Action <i
                  class="i-caret-down"></i></button>
              <ul class="dropdown-menu">
                <li><a href="/admin/categories/delete">Delete</a></li>
              </ul>
            </div>
          </div>
          <div class="search" role="search">
          </div>
        </div>
        <div class="typecho-table-wrap">
          <table class="typecho-list-table">
            <colgroup>
              <col width="20" />
              <col width="10%" />
              <col width="25%" />
              <col width="40%" />
              <col width="20%" />
            </colgroup>
            <thead>
              <tr class="nodrag">
                <th> </th>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {{range .Categories}}
              <tr id="mid-category-{{.ID}}">
                <td>
                  <input type="checkbox" value="{{.ID}}" name="id[]" />
                </td>
                <td>{{.ID}}</td>
                <td>
                  <a href="/admin/categories/editor/{{.ID}}">{{.Name}}</a>
                  <a target="_blank" href="/catetories/{{.ID}}" title="Views {{.Name}}"><i class="i-exlink"></i></a>
                </td>
                <td><a class="balloon-button left size-50" href="#">{{ .Description }}</a></td>
                <td>{{ DateFormat .CreatedAt "2006/01/02 15:04"}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </form>
      <div class="typecho-list-operate clearfix">
        <form method="get">
          <div class="operate">
            <label><i class="sr-only">Select All</i>
              <input type="checkbox" class="typecho-table-select-all" />
            </label>
            <div class="btn-group btn-drop">
              <button class="btn dropdown-toggle btn-s" type="button"><i class="sr-only">Operate</i>Action<i
                  class="i-caret-down"></i></button>
              <ul class="dropdown-menu">
                <li><a lang="Confirm to delete?" href="/admin/categories/delete">Delete</a></li>
              </ul>
            </div>
          </div>
          {{ template "components/pagination" . }}
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  (function () {
    $(document).ready(function () {
      var table = $('.typecho-list-table').tableDnD({
        onDrop: function () {
          var ids = [];

          $('input[type=checkbox]', table).each(function () {
            ids.push($(this).val());
          });

          $.post('/admin/api/move',
            $.param({
              mid: ids
            }));

          $('tr', table).each(function (i) {
            if (i % 2) {
              $(this).addClass('even');
            } else {
              $(this).removeClass('even');
            }
          });
        }
      });

      table.tableSelectable({
        checkEl: 'input[type=checkbox]',
        rowEl: 'tr',
        selectAllEl: '.typecho-table-select-all',
        actionEl: '.dropdown-menu a'
      });

      $('.btn-drop').dropdownMenu({
        btnEl: '.dropdown-toggle',
        menuEl: '.dropdown-menu'
      });

      $('.dropdown-menu button.merge').click(function () {
        var btn = $(this);
        btn.parents('form').attr('action', btn.attr('rel')).submit();
      });

    });
  })();
</script>