<div class="body container">
  <div class="typecho-page-title">
    <h2>Posts <a href="/admin/posts/editor">Add New</a></h2>
  </div>
  {{ template "components/form-message" . }}
  <div class="row typecho-page-main" role="main">
    <div class="col-mb-12 typecho-list">
      <div class="typecho-list-operate clearfix">
        <div><a href="{{ .Path }}">All({{ .TotalAll }})</a> | <a href="{{ .Path }}?status=publish">Published({{ .TotalPublished }})</a> | <a href="{{ .Path }}?status=draft">Drafts({{ .TotalDraft }})</a> | <a href="{{ .Path }}?status=trash">Trash({{ .TotalTrash }})</a></div>
        <form method="get">
          <div class="operate">
            <label><i class="sr-only">Select All</i>
              <input type="checkbox" class="typecho-table-select-all" />
            </label>
            <div class="btn-group btn-drop">
              <button class="btn dropdown-toggle btn-s" type="button"><i class="sr-only">Operate</i>Action<i
                  class="i-caret-down"></i></button>
              <ul class="dropdown-menu">
                <li><a lang="Confirm to delete all selected?" href="/admin/posts/delete">Delete</a></li>
              </ul>
            </div>
          </div>
          <div class="search" role="search">
            {{if or .Q (gt .FilterCategory 0)}}<a href="/admin/posts/manager">Cancel Filter</a>{{end}}
            <input type="text" class="text-s" value="{{if .Q}}{{.Q}}{{end}}" name="q" />
            <select name="qc">
              <option value="">All Categories</option>
              {{range .Categories}}
              <option {{if eq $.Category .ID}}selected{{end}} value="{{.ID}}">{{.Name}}</option>
               {{end}}
            </select>
            <input type="hidden" name="status" value="{{ .Status }}" />
            <button type="submit" class="btn btn-s">Filter</button>
          </div>
        </form>
      </div>
      <form method="post" name="manage_posts" class="operate-form">
        <div class="typecho-table-wrap">
          <table class="typecho-list-table">
            <colgroup>
              <col width="20" />
              <col width="50%" />
              <col width="" />
              <col width="8%" />
              <col width="14%" />
              <col width="14%" />
            </colgroup>
            <thead>
              <tr>
                <th> </th>
                <th>Title</th>
                <th>Author</th>
                <th>Categories</th>
                <th>Tags</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {{ range .Posts }}
              <tr id="post-{{.ID}}">
                <td>
                  <input type="checkbox" value="{{.ID}}" name="id[]" />
                </td>
                <td>
                  <a href="/admin/posts/editor/{{ .ID }}">{{ .Title }}</a>
                  <a target="_blank" href="/posts/{{.Slug}}" title="View {{.Title}}"><i class="i-exlink"></i></a>
                </td>
                <td>{{ .UserID }}</td>
                <td>{{ .CategoryID }}</td>
                <td>{{ .GetTagsAsCharSeparated " " }}</td>
                <td>{{ DateFormat .PublishedAt "2006-01-02 15:04" }}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </form>
      <div class="typecho-list-operate clearfix">
        <form method="get">
          <div class="operate">
            <label><i class="sr-only">Select All</i>
              <input type="checkbox" class="typecho-table-select-all" />
            </label>
            <div class="btn-group btn-drop">
              <button class="btn dropdown-toggle btn-s" type="button"><i class="sr-only">Operate</i>Action<i
                  class="i-caret-down"></i></button>
              <ul class="dropdown-menu">
                <li><a lang="Confirm to delete?" href="/admin/api/post-delete">Delete</a></li>
              </ul>
            </div>
          </div>
          {{ template "components/pagination" . }}
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  (function () {
    $(document).ready(function () {
      $('.typecho-list-table').tableSelectable({
        checkEl: 'input[type=checkbox]',
        rowEl: 'tr',
        selectAllEl: '.typecho-table-select-all',
        actionEl: '.dropdown-menu a,button.btn-operate'
      });

      $('.btn-drop').dropdownMenu({
        btnEl: '.dropdown-toggle',
        menuEl: '.dropdown-menu'
      });
    });
  })();
</script>