<div class="body container">
  <div class="typecho-page-title">
    <h2>All Tags</h2>
  </div>
  <div class="row typecho-page-main manage-metas">
    <div class="col-mb-12 col-tb-8" role="main">
      <form method="post" name="manage_tags" class="operate-form">
        <div class="typecho-list-operate clearfix">
          <div class="operate">
            <label><i class="sr-only">Select All</i>
              <input type="checkbox" class="typecho-table-select-all" />
            </label>
            <div class="btn-group btn-drop">
              <button class="btn dropdown-toggle btn-s" type="button"><i class="sr-only">Operation</i>Action<i class="i-caret-down"></i></button>
              <ul class="dropdown-menu">
              <li><a lang="Confirm to delete? " href="/admin/api/tag-delete">Delete</a></li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="typecho-list-notable tag-list clearfix">
          {{range $k,$v:=.List}}
          <li class="size-5"><input type="checkbox" name="mid[]" />{{$k}}<i class="i-edit"></i></li>
          {{end}}
        </ul>
      </form>
    </div>
    <div class="col-mb-12 col-tb-4" role="form">
    </div>
  </div>
</div>
<script type="text/javascript">
  (function () {
    $(document).ready(function () {

      $('.typecho-list-notable').tableSelectable({
        checkEl: 'input[type=checkbox]',
        rowEl: 'li',
        selectAllEl: '.typecho-table-select-all',
        actionEl: '.dropdown-menu a'
      });

      $('.btn-drop').dropdownMenu({
        btnEl: '.dropdown-toggle',
        menuEl: '.dropdown-menu'
      });

      $('.dropdown-menu button.merge').click(function () {
        var btn = $(this);
        btn.parents('form').attr('action', btn.attr('rel')).submit();
      });

    });
  })();
</script>